{% extends 'layout.html' %}
{% load rbac %}

{% block content %}
    <select id="sel01">
      <option value ="0">请选择月份</option>
    </select>

    <div class="luffy-container">
        {% if request|has_permission:'salesmanagement_act_upload' %}
            <div class="btn-group" style="margin: 5px 0">
                <form action="/salesmanagement/act/upload/" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {#                <a class="btn btn-default" href="#">#}
                    {#                    <i class="fa fa-plus-square" aria-hidden="true"></i> 上传账务科目#}
                    {#                </a>#}
                    {#                <a class="btn btn-default" href="#">#}
                    {#                    <i class="fa fa-plus-square" aria-hidden="true"></i> 上传SKU#}
                    {#                </a>#}
                    {#                <a class="btn btn-default" href="#">#}
                    {#                    <i class="fa fa-plus-square" aria-hidden="true"></i> 上传源数据#}
                    {#                </a>#}

{#                    {% if request.session.info.username == 'bft' or request.session.info.username == 'jhzheng@hwccl' %}#}
                    {% if '管理员' in  "{{ request.session.info.roles  }}" or '销管ACT管理员' in  "{{ request.session.info.roles  }}" %}
                        <div>
                            <span style="display: inline-block">上传档期门店区域信息</span>
                            <input style="display: inline-block" type="file" name="sm_act_shops">
                            <span style="color: red">{{ sm_act_shops_msg }}</span>
                        </div>
                        <div>
                            <span style="display: inline-block">上传档期产品信息</span>
                            <input style="display: inline-block" type="file" name="sm_act_product">
                            <span style="color: red">{{ sm_act_product_msg }}</span>
                        </div>
                    {% endif %}
                    <div>
                        <span style="display: inline-block">上传档期数据</span>
                        <input style="display: inline-block" type="file" name="sm_act_data">
                        <span style="color: red">{{ sm_act_data_msg }}</span>
                        <input class="btn-success" type="submit" value="提交">
                    </div>
                    <input id="ip01" style="display: none" type="text" name="yearmonth" value="202201">
                </form>
            </div>
        {% endif %}
        {% if request|has_permission:'salesmanagement_act_download' %}
            <form action="/salesmanagement/act/download/" method="post" novalidate>
                <input id="ip02" style="display: none" type="text" name="yearmonth" value="202201">
                {% csrf_token %}
                <input class="btn-success" type="submit" value="汇总下载">
            </form>
        {% endif %}
        <form action="/salesmanagement/act/download_model/" method="post" novalidate>
            {% csrf_token %}
            <input class="btn-success" type="submit" value="模板下载">
        </form>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>文件名</th>
                <th>年月</th>
{#                <th>是否验证</th>#}
                <th>上传时间</th>
                <th>上传人</th>
                {% if request|has_permission:'salesmanagement_act_del' %}
                    <th>操作</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for item in query_set %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.filename }}</td>
                    <td>{{ item.yearmonth }}</td>
                    <td>{{ item.upload_datetime|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ item.upload_person }}</td>
                    {% if request|has_permission:'salesmanagement_act_del' %}
                        <td>
                            <a title="删除" href="javascript:if(confirm('确实要删除 {{ item.filename }} 吗?')) location='/salesmanagement/act/del/{{ item.id }}/'">
                                <i class="fa fa-trash-o"></i>
                            </a>
                            &nbsp;
                            <a title="下载" href="javascript:if(confirm('确实要下载 {{ item.filename }} 吗?')) location='/salesmanagement/act/download_one/{{ item.id }}/'">
                                <i class="fa fa-download"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block js %}
    <script type="text/javascript">
        function getFormatDate() {
            var nums_list = [-3,-2,-1,0,1]
            var month_list = []
            $.each(nums_list,function (k,v){
                {#console.log(v)#}
                var date = new Date();
                date.setMonth(date.getMonth()+v)
                var year = date.getFullYear();
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                {#console.log(year + "" + month)#}
                month_list.push(year + "" + month)
            })
            return month_list;
        }
        var month_list = getFormatDate();
        var cur_month = month_list[3]

        $(function(){
            console.log(cur_month)
            {#console.log({{ yearmonth }})#}
            {#yearmonth = {{ yearmonth }}#}
            {#$('#ip01').val(cur_month)#}
            {#$('#ip02').val(cur_month)#}

            {% if yearmonth %}
                $('#ip01').val({{ yearmonth }})
                $('#ip02').val({{ yearmonth }})
                $.each(month_list,function(k,v){
                    {#console.log(k+':'+v);#}
                    if (v=={{ yearmonth }}){
                        var $op = "<option value ='"+v+"' selected>"+v+"</option>";
                    }else{
                        var $op = "<option value ='"+v+"'>"+v+"</option>";
                    }
                    $("#sel01").append($op);
                })
            {% else %}
                $('#ip01').val(cur_month)
                $('#ip02').val(cur_month)
                $.each(month_list,function(k,v){
                    {#console.log(k+':'+v);#}
                    if (v==cur_month){
                        var $op = "<option value ='"+v+"' selected>"+v+"</option>";
                    }else{
                        var $op = "<option value ='"+v+"'>"+v+"</option>";
                    }
                    $("#sel01").append($op);
                })
            {% endif %}


            /*
            $.each(month_list,function(k,v){
                {#console.log(k+':'+v);#}
                if (v==cur_month){
                    var $op = "<option value ='"+v+"' selected>"+v+"</option>";
                }else{
                    var $op = "<option value ='"+v+"'>"+v+"</option>";
                }
                $("#sel01").append($op);
            })
            */

            $('#sel01').change(function (){
                $('#ip01').val(this.value)
                $('#ip02').val(this.value)
                window.location.href = "/salesmanagement/act/list/?yearmonth="+this.value;
            })
        })
    </script>
{% endblock %}

