# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\notebooks\djangoProjects\auto_luffy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
